---
import "../styles/global.css";
import LinkTree from "../components/LinkTree";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links | MAB Fortuna</title>
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="description" content="Acesse nossos canais e catálogos." />
  </head>
  <body class="bg-[#050505] antialiased">
    <LinkTree client:load />
  </body>
</html>
